.resume-specific-section.text-center .title{
    margin-bottom: 25px !important;
}

.interest-badges{
    .custom-badge{       
        background-color: #b3c833;
        color:#fff;
        margin-bottom: 12px;
        margin-left: 4px;
        margin-right: 4px;
      }
}