<div>
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'ABOUT_SECTION'|translate}}</p>
        </div>
    </div>
    <div class="row">
        <div id="about-section" class="col-12">
            <div class="resume-specific-section row text-center">
                <div class="resume-category">
                    <div class="resume-info">
                        <div class="col-12">
                            <h4 class="title">{{'ABOUT_ME_DESCRIPTION' |translate}}</h4>
                        </div>
                        <div class="col-12">
                            <h5 class="subtitle">{{'ABOUT_ME_DESCRIPTION_2' |translate}}</h5>
                            <h5 class="subtitle">{{'ABOUT_ME_DESCRIPTION_3' |translate}}</h5>
                            <h5 class="subtitle">{{'ABOUT_ME_DESCRIPTION_4' |translate}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'INTERESTS_SECTIONS'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="resume-specific-section row">
                <div class="resume-category col-12">
                    <div class="row intert-container text-center interest-badges">
                        <div class="col-12">
                            <span class="badge badge-pill custom-badge" *ngFor="let interest of interests| slice:0:6; let isOdd=odd;
                                        let isEven=even" [class.odd]="isOdd" [class.even]="isEven">{{interest |translate}}</span>

                        </div>
                        <div class="col-12">
                            <span class="badge badge-pill custom-badge" *ngFor="let interest of interests| slice:6:20; let isOdd=odd;
                                            let isEven=even" [class.odd]="isOdd" [class.even]="isEven">{{interest |translate}}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>