<div id="exp-section">
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'EXPERIENCE_SECTION'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="timeline">
            <div class="container-timeline right">
                <div class="content">
                    <h4 class="title">{{'SAGE_ROLE' | translate}}</h4>
                    <p class="date">{{'SAGE_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'SAGE' |translate}}</h5>
                    <p class="description">{{'SAGE_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h4 class="title">{{'PANDA_ROLE' | translate}}</h4>
                    <p class="date">{{'PANDA_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'PANDA' |translate}}</h5>
                    <p class="description">{{'PANDA_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h4 class="title">{{'GRM_ROLE' | translate}}</h4>
                    <p class="date">{{'GRM_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'GRM' |translate}}</h5>
                    <p class="description">{{'GRM_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h4 class="title">{{'MONKEYS_ROLE' | translate}}</h4>
                    <p class="date">{{'MONKEYS_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'MONKEYS' |translate}}</h5>
                    <p class="description">{{'MONKEYS_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h4 class="title">{{'BANDPOINTER_ROLE' | translate}}</h4>
                    <p class="date">{{'BANDPOINTER_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'BANDPOINTER' |translate}}</h5>
                    <p class="description">{{'BANDPOINTER_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h4 class="title">{{'PROS_ROLE' | translate}}</h4>
                    <p class="date">{{'PROS_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'PROS' |translate}}</h5>
                    <p class="description">{{'PROS_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h4 class="title">{{'GEMBIOSOFT_ROLE' | translate}}</h4>
                    <p class="date">{{'GEMBIOSOFT_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'GEMBIOSOFT' |translate}}</h5>
                    <p class="description">{{'GEMBIOSOFT_DESCRIPTION' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>