<div id="exp-section">
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'EXPERIENCE_SECTION'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                    <h4 class="title">{{'MONKEYS_ROLE' | translate}}</h4>
                    <p>{{'MONKEYS' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h4 class="title">{{'BANDPOINTER_ROLE' | translate}}</h4>
                    <p class="date">{{'BANDPOINTER_DATE' |translate}}</p>
                    <h5 class="subtitle">{{'BANDPOINTER' |translate}}</h5>
                    <p class="description">{{'BANDPOINTER_DESCRIPTION' | translate}}</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h2>2015</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                        ea eam.</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h2>2012</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                        ea eam.</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h2>2011</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                        ea eam.</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h2>2007</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                        ea eam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'EXPERIENCE_SECTION'|translate}}</p>
        </div>
    </div>
    <div id="experience-section">
        <div class="row">
            <div class="col-xs-12">
                <div class="resume-specific-section">
                    <h3 class="header">{{'EXPERIENCE_SECTION'|translate}}</h3>
                    <div class="resume-category">
                        <div class="resume-info">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4 class="title">{{'MONKEYS_ROLE' |translate}}</h4>
                                </div>
                                <div class="col-xs-4">
                                    <p class="date">{{'MONKEYS_DATE' |translate}}</p>
                                </div>
                            </div>
                            <h5 class="subtitle">{{'MONKEYS' |translate}}</h5>
                        </div>
                        <div class="separator"></div>
                        <div class="resume-info">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4 class="title">{{'BANDPOINTER_ROLE' |translate}}</h4>
                                </div>
                                <div class="col-xs-4">
                                    <p class="date">{{'BANDPOINTER_DATE' |translate}}</p>
                                </div>
                            </div>
                            <h5 class="subtitle">{{'BANDPOINTER' |translate}}</h5>
                            <p class="description">{{'BANDPOINTER_DESCRIPTION' |translate}}</p>
                        </div>
                        <div class="separator"></div>
                        <div class="resume-info">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4 class="title">{{'PROS_ROLE' |translate}}</h4>
                                </div>
                                <div class="col-xs-4">
                                    <p class="date">{{'PROS_DATE' |translate}}</p>
                                </div>
                            </div>
                            <h5 class="subtitle">{{'PROS' |translate}}</h5>
                            <p class="description">{{'PROS_DESCRIPTION' |translate}}</p>
                        </div>
                        <div class="separator"></div>
                        <div class="resume-info">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4 class="title">{{'FE_ROLE' |translate}}</h4>
                                </div>
                                <div class="col-xs-4">
                                    <p class="date">{{'FE_DATE' |translate}}</p>
                                </div>
                            </div>
                            <h5 class="subtitle">{{'FE' |translate}}</h5>
                            <p class="description">{{'FE_DESCRIPTION' |translate}}</p>
                        </div>
                        <div class="separator"></div>
                        <div class="resume-info">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4 class="title">{{'GEMBIOSOFT_ROLE' |translate}}</h4>
                                </div>
                                <div class="col-xs-4">
                                    <p class="date">{{'GEMBIOSOFT_DATE' |translate}}</p>
                                </div>
                            </div>
                            <h5 class="subtitle">{{'GEMBIOSOFT' |translate}}</h5>
                            <p class="description">{{'GEMBIOSOFT_DESCRIPTION' |translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->