<div>
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'CONTACT_INFO_SECTION_ME'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div id="contact-section" class="col-12">
            <div class="resume-specific-section ">
                <div class="resume-category">
                    <div class="resume-info">
                        <div class="row contact-container">
                            <div class="col-12 col-sm-6 contact-options">
                                <div>
                                    <h5 class="title">
                                        <img [src]="'/assets/images/contact.svg'" /> {{'CONTACT_EMAIL' |translate}}</h5>
                                </div>
                                <div>
                                    <h5 class="subtitle">
                                        <img [src]="'/assets/images/skype.svg'" /> {{'CONTACT_SKYPE' |translate}}</h5>
                                </div>
                                <div>
                                    <h5 class="title">
                                        <img [src]="'/assets/images/place.svg'" /> {{'CONTACT_ADDRESS' |translate}}</h5>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 contact-more">
                                <div class="contact-separator"></div>
                                <div class="row follow-me">
                                    <div class="col-4">
                                        <a href="https://github.com/jorguema" target="_blank" class="clickable">
                                            <img [src]="'/assets/images/github.svg'" class="clickable" />
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="https://es.linkedin.com/pub/jorge-guerola-martinez/44/999/6ab" target="_blank" class="clickable">
                                            <img [src]="'/assets/images/linkedin.svg'" class="clickable" />
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="http://stackoverflow.com/users/2806406/jorge-guerola" target="_blank" class="clickable">
                                            <img [src]="'/assets/images/stackoverflow.svg'" class="clickable" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 section-subtitle">
            <p class="header">{{'TALK_CONTACT'|translate}}</p>
        </div>
    </div>
</div>