<div>
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'FRONT_END'|translate}}</p>
        </div>
        <div class="col-12 text-center">
            <span class="badge badge-pill custom-badge">{{'BOWER' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'YARN' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'NPM' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'GRUNT' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'GULP' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'WEBPACK' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'Karma' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'JASMINE' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'MOCHA' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'Javascript' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'Jquery' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'ANGULAR' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'AngularJS2' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'TYPESCRIPT' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'REACT' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'ASP_MVC' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'Less' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SASS' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'JADE' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SPA' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'WEB_COMPONENTS' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SALESFORCE' |translate}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'BACK_END'|translate}}</p>
        </div>
        <div class="col-12 text-center">
            <span class="badge badge-pill custom-badge">{{'NETCORE' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'NODEJS' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'EXPRESS_JS' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'WEB_API' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'EF' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'DAPPER' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'AUTOFAC' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'Ninject' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'LINQ' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'NUNIT' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SWAGGER' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SPRING' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'JPA' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'Hibernate' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'JUnit' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'APEX' |translate}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 section-title">
            <p class="header">{{'CLOUD'|translate}}</p>
        </div>
        <div class="col-6 section-title">
            <p class="header">{{'DB'|translate}}</p>
        </div>
        <div class="col-6 text-center">
            <span class="badge badge-pill custom-badge">{{'AWS' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'AZURE' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'HEROKU' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'MONGOLAB' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'GITHUB' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'BB' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'GITLAB' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'TFS' |translate}}</span>
        </div>
        <div class="col-6 text-center">
            <span class="badge badge-pill custom-badge">{{'MONGODB' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'MYSQL' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'ORACLE' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'POSTGRES' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SQLITE' |translate}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 section-title">
            <p class="header">{{'WS'|translate}}</p>
        </div>
        <div class="col-6 section-title">
            <p class="header">{{'MOBILE'|translate}}</p>
        </div>
        <div class="col-6 text-center">
            <span class="badge badge-pill custom-badge">{{'REST' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SOAP' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'JSON' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'XML' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'OAUTH' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'JWT' |translate}}</span>
        </div>
        <div class="col-6 text-center">
            <span class="badge badge-pill custom-badge">{{'ANDROID' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'WP' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'XAMARIN' |translate}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'OTHERS'|translate}}</p>
        </div>
        <div class="col-12 text-center">
            <span class="badge badge-pill custom-badge">{{'GIT' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SVN' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'VTFS' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'SCRUM' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'XP' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'PATER_DESIGN' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'CD' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'CI' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'BEST_PRACTICES' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'PRIVATE_NPM' |translate}}</span>
            <span class="badge badge-pill custom-badge">{{'PRIVATE_NUGET' |translate}}</span>

        </div>
    </div>
</div>