<div>
    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'EDUCATION_SECTION'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="circle-container">
                        <div class="circle-image">
                            <img src="/assets/images/education3.svg" alt="education">
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'MASTER' |translate}}</p>
                            <p class="description">{{'UNIVERSITY' |translate}}</p>
                            <p class="subinfo">2011 - 2013</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="circle-container">
                        <div class="circle-image">
                            <img src="/assets/images/education2.svg" alt="education">
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'CAREER' |translate}}</p>
                            <p class="description">{{'UNIVERSITY' |translate}}</p>
                            <p class="subinfo">2007 - 2011</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'CERTIFICATES'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-3">
                    <div class="circle-container">
                        <div class="circle-text">
                            MONGO
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'MONGO_CERTIFICATION' |translate}}</p>
                            <p class="description">{{'MONGO_CERTIFICATION_INSTITUTION' |translate}}</p>
                            <p class="subinfo">2014</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="circle-container">
                        <div class="circle-text">
                            MVA
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'WP_CERTIFICATION_1' |translate}}</p>
                            <p class="description">{{'WP_CERTIFICATION_1_INSTITUTION' |translate}}</p>
                            <p class="subinfo">2012</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div class="circle-container">
                        <div class="circle-text">
                            MVA
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'WP_CERTIFICATION_2' |translate}}</p>
                            <p class="description">{{'WP_CERTIFICATION_2_INSTITUTION' |translate}}</p>
                            <p class="subinfo">2012</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div class="circle-container">
                        <div class="circle-text">
                            HTML
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'HTML_CERTIFICATION' |translate}}</p>
                            <p class="description">{{'HTML_CERTIFICATION_INSTITUTION' |translate}}</p>
                            <p class="subinfo">2012</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 section-title">
            <p class="header">{{'COMPLEMENTARY_EDUCATION'|translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="circle-container">
                        <div class="circle-text">
                            PLURAL
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'COMPLEMENTARY_EDUCATION_PSIGHT' |translate}}</p>
                            <p class="description">{{'COMPLEMENTARY_EDUCATION_PSIGHT_DESCRIPTION' |translate}}</p>
                            <p class="subinfo">{{'ACTUAL' |translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="circle-container">
                        <div class="circle-text">
                            CEEI
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'COMPLEMENTARY_EDUCATION_1' |translate}}</p>
                            <p class="description">{{'COMPLEMENTARY_EDUCATION_1_DESCRIPTION_1' |translate}}, {{'COMPLEMENTARY_EDUCATION_1_DESCRIPTION_2'
                                |translate}}, {{'COMPLEMENTARY_EDUCATION_1_DESCRIPTION_3' |translate}}</p>
                            <p class="subinfo">2011 - 2012</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <div class="circle-container">
                        <div class="circle-text">
                            YUZZ
                        </div>
                        <div class="circle-description">
                            <p class="title">{{'COMPLEMENTARY_EDUCATION_2' |translate}}</p>
                            <p class="description">{{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_1' |translate}}, {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_4'
                                |translate}}, {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_3' |translate}}, {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_2'
                                |translate}}</p>
                            <p class="subinfo">2011 - 2012</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>